# Port for the BFF server
PORT=9009

# Backend base URL that the BFF will proxy requests to
BE_URL=http://localhost:8890

BE_RULE_PATH=regel/rtf-manuell
BE_OUL_URL=http://localhost:8889
BE_HANDLAGGNING_URL=http://localhost:8888
BE_RTF_MANUELL_URL=http://localhost:8890
BE_BEKRAFTABESLUT_URL=http://localhost:8891